/* 

*/
$html-bg:           #e0e0e0;
$body-bg:         #f0f0f0;

$link-color:              inherit;
$hover-color:         inherit;
$color-percent:           2.5%;
$color-lt-percent:        2.5%;
$color-dk-percent:        3.5%;
